@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
      'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    /* font-size: 16px; */
    /* color: #1f1f1f; */
    /* font-weight: 500; */
  }

  body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
